.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.tshirt-container {
  padding: 50px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 992px) {
  .wrapper {
    grid-template-columns: 2fr 2fr;
  }
  .tshirt-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
